<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>Runs</h2>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <ng-container *ngFor="let run of runs">
            <p>
                {{run.title}}
                <button (click)="openDialogEditRun(run)" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </p>
        </ng-container>
    </mat-card-content>

    <mat-card-actions>
        <button (click)="openDialogAddRun()" mat-icon-button color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>