/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-global-overlay-wrapper, .cdk-overlay-pane{
    overflow: hidden;

    .mat-mdc-card-content{
        max-height: 80vh;
        overflow: auto;
    }
}

.mdc-card__actions{
    gap: 16px;
    justify-content: space-between;
}
